body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* Simple page reset */
	margin:0;
	padding:0;
}

body{
	/* Setting default text color, background and a font stack */
	color:#fcfcfc;
	font-size:0.825em;
	background-color: #011d2e;
	font-family:Arial, Helvetica, sans-serif;
}


#main{
	/* This div is converted to a photoShoot stage by the Photo Shoot plug-in */
	margin:0 auto;
	width:960px;
	height:600px;
}

.shot{
	/* These contain a scaled down version of the background image: */
	
	border:3px solid #FCFCFC;
	float:right;
	position:relative;
	margin-left:10px;
	overflow:hidden;
	
	/* Adding a CSS3 shadow below the shots: */
	
	-moz-box-shadow:0 0 2px black;
	-webkit-box-shadow:0 0 2px black;
	box-shadow:0 0 2px black;
}

.shot img{
	display:block;
}

.album{
	/* This div holds the shots */
	bottom:50px;
	height:110px;
	overflow:hidden;
	position:absolute;
	right:20px;
	width:490px;
}

.album .slide{
	/* The slide div is contained in album  */
	width:700px;
	height:110px;
	position:relative;
	left:-210px;
}